.seat-info {
  position: fixed;
  bottom: 200px;
  left: 100px;
  max-width: 155px;
  overflow: hidden;

  padding: 20px;
  padding-left: 20px;
  padding-right: 100px;

  background: #f5f5f5;
  border-radius: 10px;
  transition: max-width 300ms ease;
}

.seat-info.expanded {
  max-width: 500px;
}

.seat-info.expanded .seat-info-details {
  transition: 500ms ease 100ms;
  opacity: 1;
}

.seat-info.expanded .seat-info-expand-toggle {
  transform: rotate(180deg);
}

.seat-info-content {
  display: grid;
  grid-template-columns: 250px 1fr;
  column-gap: 40px;
}

.seat-info-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  gap: 5px;
}

.seat-info-details {
  min-width: 200px;
  opacity: 0;
}

.seat-info-expand-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;

  position: absolute;
  top: 10px;
  right: 10px;

  width: 25px;
  height: 23px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding-bottom: 2px;

  cursor: pointer;
}

.seat-info-back {
  position: absolute;
  background: linear-gradient(270deg, #fff 30%, #b98aa3 100%);
  right: -1px;
  left: 30%;
  top: 0;
  bottom: -1px;
  z-index: -1;
  clip-path: polygon(0% 0%, 75% 0%, 29% 46%, 75% 100%, 0% 100%);
  transform: rotate(180deg);
  border-radius: 8px;
}

h2 {
  font-size: 2.2rem;
  color: #523b47;
}

button {
  color: #fff;
  padding: 10px 25px;
  border-radius: 8px;
  margin-top: 10px;
  background-color: #111;
  cursor: pointer;
}
